#main-header {
  color: brown;
  font-size: 22px;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  
}
body {
  background-color: azure;
}
#container {
  width: 700px;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  padding: 30px;
}
.perspective-questions {
  font-style: italic;
}
.food {
  font-style: italic;
}